body {
  background-color: aquamarine;
  margin: 0;
  height: 100vh;
}

app-layout {
  min-height: 100%;
  display: grid;
  grid-template-rows: 60px 1fr;
}


header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 10px 20px auto
}

header nav {
  margin-top: 10px;
}

header nav a:hover {
  color: aqua;
}

a:-webkit-any-link {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin: 15px;
}


main {
  background-color: aliceblue;
  display: grid;
  align-items: center;
  justify-items: center;
}

footer p {
  margin: 0;
  padding: 0;
  text-align: center;
}